<div class="container mt50">
  <section class="block">
    <h2 class="title is-3 has-text-left mb20">Todos</h2>
    <div class="articles has-text-left border">
      <span class="subtitle is-3"><%= todo_item.content %></span>
    </div>
  </section>
</div>